apiVersion: apps/v1
kind: Deployment
metadata:
  name: cka-redis
  labels:
    app: cka-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cka-redis
  template:
    metadata:
      labels:
        app: cka-redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
