services:
  cortex-api:
    build:
      context: ../
      dockerfile: docker/Dockerfile.api
    container_name: cortex_api
    environment:
      - CKA_OLLAMA_URL=http://ollama:11434
      - CKA_OLLAMA_MODEL=llama3.2:3b
      - CKA_REDIS_HOST=redis
      - CKA_QDRANT_URL=http://qdrant:6333
    ports:
      - "8088:8088"
    depends_on:
      - redis
      - ollama
    networks:
      - cortex_net

  redis:
    image: redis:7-alpine
    container_name: cortex_redis
    networks:
      - cortex_net

  qdrant:
    image: qdrant/qdrant:latest
    container_name: cortex_qdrant
    networks:
      - cortex_net
    ports:
      - "6333:6333"

  ollama:
    image: ollama/ollama
    container_name: cortex_ollama
    networks:
      - cortex_net
    ports:
      - "11434:11434"
    healthcheck:
      test: ["CMD", "ollama", "list"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  cortex_net:
    driver: bridge
